body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

p {
    font-size: 1.7rem;
    font-weight: 500;
    color: #648CB0;
    line-height: 1.8rem;
    text-align: justify;
} 

h1 {
    font-size: 3rem;
    color: #64362d;
    line-height: 1.3rem;
    text-align: center;
}

a {
    font-weight: 700;
    color: rgba(122, 122, 122, 0.603);
}

a:hover {
    font-weight: 700;
    color: #2c1611;
}

a:active {
     font-weight: 700;
    color:salmon;
}

a:focus {
    font-weight: 700;
    color: #2c1611;
}

h2 { 
    font-size: 2rem;
    color: #64362d;
    line-height: 1rem;
}

ul {
    font-size: 1.7rem;
    font-style: oblique;
    color: #648CB0;
    line-height: 3rem;
    font-weight: 400;
}

.prvni-odstavec {
    background-color: rgb(231, 212, 209);
}

.obrazky {
    width: fit-content;
}

ul > li:nth-child(2n) {
    color: rgba(122, 122, 122, 0.603);
}

.avatar {
display: inline-block;
}

ul {
    display: inline-block;
    }

/* .blok { */
    border-width: 5px;
    border-color: #64362d;
    border-style: dotted;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem auto;
}