/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    margin: 0;
    padding: 0;
}

.jmeno {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 25px;
}

.odkazy {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #bdc3c7;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.logo {
    background-color: #b92e81;
    border-radius: 50%;
    z-index: 20;
    position: absolute;
    left: 185px;
    top: 150px;
}

.profil {
    background-color: #31363b;
    font-family: 'Source Sans Pro', sans-serif;
    color: #bdc3c7;
    box-shadow: 3px 5px 2px 0.5px rgba(0, 0, 0, 0.2);
    width: 250px;
    font-size: 14px;
}

.obsah {
    padding: 17px;
}

a {
    color: #bdc3c7;
    text-decoration: none;
}

.foto {
    width: 100%;
}

.facebook {
    flex-basis: 100px;
}

.twitter {
    flex-basis: 100px;
}


.odkazy li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.odkazy a {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-top: solid 1,2 px #bdc3c7;
}

.portfolio a:hover {
    background-color: #e74c3c;
    color: white;
}

.facebook a:hover {
    background-color:#3b5998;
    color: white;
}

.twitter a:hover {
    background-color: #1da1f2;
    color: white;
}
