/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    display: flex;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    height: 960px;
    display: flex;
    flex-flow: column;
}

header {
    display: flex;
    align-items: center;
    color: #25133d;
}

brand {
    margin-left: 40px;
    font-weight: 700;
}

.navigace {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    text-decoration: none;
}

.navigace a {
    text-decoration: none;
    color: #25133d;
}

li {
    margin-left: 40px;
    color: black;
    padding: 0 auto;
}

main {
    top: 50px;
    position: relative;
}

.section1 {
    display: flex;
    flex-flow: column;
    position: relative;
}

.pozadi {
    position: fixed;
    top: 60px;
    z-index: 0;
    width: 960px;
    height: 50%;
}

.nadpis {
    z-index: 20;
    color: white;
    font-weight: 400;
    font-size: 90px;
    margin-left: 40px;
}

.text {
    display: flex;
    flex-wrap: wrap;
    z-index: 20;
    color: white;
    font-weight: 300;
    margin-left: 40px;
    font-size: 40px;
}

.telefon {
    z-index: 20;
    position: absolute;
    bottom: -11px;
    right: 0px;
}

.tlacitka {
    z-index: 20;
    color: white;
    margin-left: 40px;
    font-size: 40px;
}

.tlacitko1 {
    background-color: #48418e;
    border: 2px solid white;
    border-color: white;
    border-width: px;
    border-radius: 5%;
    color: white;
    padding: 25px 32px;
    font-size: 20px;
    margin-right: 20px;
}

.tlacitko2 {
    background-color: #47418e00;
    border: 2px solid white;
    border-color: white;
    border-width: px;
    border-radius: 5%;
    color: white;
    padding: 25px 32px;
    font-size: 20px;
}

.section2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 40px;
    margin-top: 70px;
}

article img {
    height: 17%;
}

article h2 {
    color: #48418e;
    font-size: 21px;
    font-weight: 700;
}

.section2 article {
    font-size: 17px;
    margin: 18px;
    line-height: 28px;
}

footer {
    position: absolute;
    background-color:  #48418e;
    width: 960px;
    bottom: 0px;
}

footer p {
    color: white;
    text-align: center;
}